// ==========================================================================
// XMainMenu - Estilos del componente
// ==========================================================================
@import '../variables';

// --------------------------------------------------------------------------
// Variables CSS personalizables
// --------------------------------------------------------------------------
.x-menu-main {
  --x-menu-avatar-min-width: 36px;
  --x-menu-nested-padding-left: 52px;

  // --------------------------------------------------------------------------
  // Avatar section
  // --------------------------------------------------------------------------
  .q-item__section--avatar {
    min-width: var(--x-menu-avatar-min-width);
  }

  // --------------------------------------------------------------------------
  // Expansion item (submenu)
  // --------------------------------------------------------------------------
  .q-expansion-item__content {
    .q-item {
      padding-left: var(--x-menu-nested-padding-left);
    }
  }
}
